* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'EB Garamond', serif;
}
/* --------Navbar Styling --------- */
.header {
  border-bottom: 1px lightgrey solid;
  box-shadow: none;
  padding: 5px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  background-color:white;
}

.header ul {
  display: grid;
  grid-template-columns: 30px 30px 220px 1fr 150px 80px;
  width: 100%;
  list-style: none;
  align-items: center;
  justify-items: center;
}

.header ul :nth-child(4) {
  display: grid;
}

.header li,
.header a {
  display: grid;
  align-items: center;
  margin: auto;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.header button {
  background: #5c8099;
  padding: 10px;
  height: 35px;
  border-radius: 6px;
  color: white;
  font-size: 13px;
}

.header img {
  width: 15rem;
}

/* --------- End of navbar  styling ---------- */
article {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.title {
  text-align: center;
  display: inline-block;
  width: 75%;
}

.title h1 {
  font-size: 40px;
  padding: 40px;
}
.title img {
  width: 100%;
  height: 50%;
}
.title p {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 17px;
  color: rgb(87, 87, 87);
}
section{
  text-align: center;
  display: inline-block;
  width: 40%;
  font-size: 23px;
}
.author-one{
  text-align: left;
  font-weight: bolder;
  display: grid;
 
}
.author-one a{
  display: inline;
  text-decoration: none;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
.symbols ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 40px 40px 40px 40px 40px 40px;
  padding: 1fr/ 20px 1fr;
  text-decoration: none;

}

.symbols li {
  text-align: left;
  font-weight: 100;
  font-size: 15px;
  text-decoration: none;
}
.firstp{
  margin: auto;
  display: grid;
  width: 40%;
}
.sidebar{
  float: right;
    width: 210px;
}
.middle-p {
  margin: auto;
  text-align: center;
  padding: 40px;
}
.secondp{
  margin: auto;
  display: grid;
  width: 40%;
  font-size: 20px;
}
/* .section i {
  font-size: 19px;
}
.section p {
  text-align: left;
}
.section a {
  color: #5f8faf;
  text-decoration: none;
}

.center-div {
  width: 40vw;
}
/* aside {
  float: right;
  width: 180px;
  font-size: 15px;
  display: grid;
}
aside img {
  width: 75px;
  float: left;
  margin-right: 10px;
}
aside h3 {
  font-size: 14px;
  color: #000;
}
.center-section {
  width: 60vw;
} */

aside {
    float: right;
    width: 110px;
  } 
  /* aside h3 {
    font-size: 14px;
    border-bottom: 1px solid rgb(226, 226, 226);
    padding-bottom: 15px;
    margin-top: 130%; */
  }
  .editors-picks li {
    display: inline-block;
    margin-bottom: 15px;
  }
  .editors-picks img {
    width: 40%;
    height: 40%;
    float: left;
    margin-right: 10px;
  }
  .editors-picks h3 {
    font-size: 20px;
    color: #000;
    /* padding: 20px; */
  }
  .editors-picks a{
    font-size: 12px;
    display: block;
  }
  .editors-picks p{
    display: inline-flex;
    margin: auto;
    padding: 2px;
    font-size: small;
  }
  .middle-design{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 1rem;
    width: 75%;
    margin-left: 10%;
    
  }
  .middle-design p{
    font-size: 13px;
    /* display: inherit; */
  }
  .middle-design img{

    width: 100%;
    height: 10rem;
    
  }
